<p style="color: gray; font-size: 12px">
    <a href="#/dashboard">Home</a> > FAQ
  </p>
<h2>About the Data</h2>
This tool aggregates COUNTER Release 4 and Release 5 Journal & Book Reports received from e-resource providers. For any questions, please contact Erin Block (<a href="mailto:erin.block@colorado.edu">erin.block@colorado.edu</a>) or Kimberly Lawler (<a href="mailto:kimberly.lawler@colorado.edu">kimberly.lawler@colorado.edu</a>).
<br><br>
<strong style="padding-left: 20px;">COUNTER Fields:</strong> Title, Publisher, Platform, ISSN, ISBN, YOP (Year of Publication), Total Requests<br><br>

<strong style="padding-left: 20px;">Reporting Period:</strong> Usage reported for the time period specified in your query. (If no date range is specified, all usage will be shown.) Click on the title to receive this information by month.<br><br>

<strong style="padding-left: 20px;">Status:</strong> The subscription status. For subscription questions please contact Kimberly Lawler (<a href="mailto:kimberly.lawler@colorado.edu">kimberly.lawler@colorado.edu</a>).<br><br>
<strong style="padding-left: 40px;">A - Active: </strong>Current subscription.<br><br>
<strong style="padding-left: 40px;">C - Canceled:</strong> We no longer subscribe to this journal title, but we may have perpetual access rights if usage is reported after the cancelation date.<br><br>

<h2>Third Party Hosting Platforms</h2>
Some platforms in this tool are third party hosting-only platforms and are not the publishers of journals they host, nor are they the vendor/publisher we pay for the subscription. For example, HighWire Press hosts journals published by the Royal Society, Portland Press, American Society for Microbiology, etc.<br><br>
Some of the hosting platforms in this tool are:<br><br>

Allen Press Pinnacle<br>
HighWire Press<br>
Sciendo<br>
Silverchair<br>
Sirius<br><br>
If you have questions about a platform, please contact Erin Block (<a href="mailto:erin.block@colorado.edu">erin.block@colorado.edu</a>).