<div style="float: left; padding-left: 1%">


  <mat-form-field style="width: 135px;">
    <mat-select [(value)]="selectedFilter" (selectionChange)="onChangeFilterOption()">
      <mat-option *ngFor="let filter of filters" [value]="filter.value">
        {{filter.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<span class="control-filter-text" *ngIf="!doneLoading">
  <mat-form-field style="width: 145px;">
    <mat-select [(value)]="selectedFilterType" (selectionChange)="onChangeFilterType()">
      <mat-option *ngFor="let type of filterTypes" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</span>

<span class="control-filter-text" *ngIf="doneLoading" class="loading-img">
  <img src="./assets/images/loading.gif" width="20px;" />
</span>
<span *ngIf="selectedFilterValue === 'from' || selectedFilterValue === 'to'">
  <mat-form-field style="width: 80px;">
    <mat-label>Month</mat-label>
    <mat-select [(value)]="monthSelected">
      <mat-option *ngFor="let month of months" [value]="month">
        {{month}}
      </mat-option>
    </mat-select>

  </mat-form-field>
  <mat-form-field style="width: 100px; margin-left: 10px;">
    <mat-label>Year</mat-label>
    <mat-select [(value)]="yearSelected">
      <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</span>

<span *ngIf="selectedFilterValue === 'report_type'">
  <mat-form-field style="width: 150px;">
    <mat-label>Types</mat-label>
    <mat-select [(value)]="rTypes">
      <mat-option>Journals

      </mat-option>
      <mat-option>eBooks

      </mat-option>
    </mat-select>

  </mat-form-field>
</span>

<mat-form-field [formGroup]="myGroup" style="width: 300px;" *ngIf="selectedFilterValue=='!'">
  <input matInput #trigger="matAutocompleteTrigger" formControlName="keyInput" [matAutocomplete]="auto"
    (focus)="onKeySearchFocus()" *ngIf="isAutocompleteDisabled">
  <input matInput formControlName="keyInput" (focus)="onKeySearchFocus()" *ngIf="!isAutocompleteDisabled">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of options" [value]="option" hidden="disablePanel">
    {{option}}
  </mat-option>
</mat-autocomplete>