.form-container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.form-container input {
  outline: 0;
}

.form-container>* {
  width: 100%;
}

.form-container form {
  margin-bottom: 20px;
}

.form-container form>* {
  margin: 5px 0;
}
