<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="total" matSortDirection="desc">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Journal Title </th>
    <td mat-cell *matCellDef="let element" style="width: 400px;"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="publisher">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </th>
    <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
  </ng-container>

  <ng-container matColumnDef="platform">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Platform </th>
    <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
  </ng-container>

  <ng-container matColumnDef="print_issn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Print ISSN </th>
    <td mat-cell *matCellDef="let element"> {{element.print_issn}} </td>
  </ng-container>

  <ng-container matColumnDef="online_issn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Online ISSN </th>
    <td mat-cell *matCellDef="let element"> {{element.online_issn}} </td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <ul class="list-expendiable">
          <li *ngFor="let month of element.MonthsTotal">
            <span>{{ month.month | monthConvert}}</span>:
            <strong class="total-expendiable">{{month.total}}</strong>
          </li>

        </ul><br>
        <ul *ngIf="element.journal_doi || element.proprietary_id" style="list-style-type: none;margin-left: 240px;">
          <li *ngIf="element.journal_doi">Journal DOI: <strong
              class="total-expendiable">{{element.journal_doi}}</strong>
          </li>
          <li *ngIf="element.proprietary_id">Proprietary ID: <strong>{{element.proprietary_id}}</strong></li>
        </ul>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<div style=" width: 100%">
  <mat-paginator style="float: left" [length]="100" [pageSize]="30" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  <mat-form-field style="width: 400px; float: left">
    <input style="outline: 0" matInput (keyup)="searchFilter($event.target.value)" placeholder="Search...">
  </mat-form-field>
  <button class="export-button" mat-stroked-button (click)="export()" [disabled]="disabledExportButton">Export</button>
</div>
