<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
  <ng-container matColumnDef="publisher_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </th>
    <td mat-cell *matCellDef="let element" style="width: 300px;"> {{element.publisher_id}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Journal Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="platform">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Platform </th>
    <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
  </ng-container>

  <ng-container matColumnDef="print_issn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Print ISSN </th>
    <td mat-cell *matCellDef="let element"> {{element.print_issn}} </td>
  </ng-container>

  <ng-container matColumnDef="online_issn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Online ISSN </th>
    <td mat-cell *matCellDef="let element"> {{element.online_issn}} </td>
  </ng-container>
  <ng-container matColumnDef="reporting_period_total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
    <td mat-cell *matCellDef="let element"> 1780 </td>
  </ng-container>


  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          Journal DOI :<br>

        </div>
        <div>
          <strong>doi</strong>
        </div>
        <div style="padding-left: 40px;">
          January : <br>
          Feburary : <br>
          March : <br>
          April : <br>
          May : <br>
          June : <br>
        </div>
        <div>
          <strong>12</strong><br>
          <strong>22</strong><br>
          <strong>32</strong><br>
          <strong>32</strong><br>
          <strong>543</strong><br>
          <strong>432</strong><br>
        </div>
        <div style="padding-left: 40px">
          July : <br>
          August :<br>
          September :<br>
          October : <br>
          November : <br>
          December : <br>
        </div>
        <div>
          <strong>432</strong><br>
          <strong>432</strong><br>
          <strong>453</strong><br>
          <strong>123</strong><br>
          <strong>123</strong><br>
          <strong>321</strong><br>
        </div>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<div style=" width: 100%">
  <mat-paginator style="float: left" [length]="100" [pageSize]="30" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  <mat-form-field style="width: 400px; float: left">
    <input style="outline: 0" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
  </mat-form-field>
  <button mat-stroked-button style="float: right; outline: 0; background-color:#3677BD; color: white">Export</button>
  <button mat-stroked-button style="float: right; outline: 0; margin-right: 10px">Print</button>


</div>
