The COUNTER Reports Tool is a tool developed by the Core Technology & Applications, Collections Strategies and Metadata,
Operations, Digital Asset Management and Discovery Services teams to perform the following tasks: <br><br>
<ul>
    <li>Automate the downloading of COUNTER reports
    </li>
    <li>Provide a user friendly interface that allows library staff to download reports to make data-driven decisions.
    </li>
</ul>
For any questions, or if you can’t find the title you’re looking for, please contact Erin Block
(<a href="mailto:erin.block@colorado.edu">erin.block@colorado.edu</a>).