<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <button color="primary" mat-button>Create New</button>
    <button color="primary" mat-button>Create New</button>
    <button color="primary" mat-button>Create New</button>
  </mat-drawer>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>UC Boulder - Libraries</span>
      <span class="spacer"></span>
      <mat-icon>favorite</mat-icon>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>favorite</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>publish</mat-icon>
          <span>Share</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-drawer-container>
