<h1 mat-dialog-title>Save Report</h1>

<div mat-dialog-content>
  <div class="example-container">

    <mat-form-field>
      <input matInput placeholder="Name" [formControl]="saveFormControl">
      <mat-error *ngIf="saveFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description">
    </mat-form-field>
    <mat-form-field disable>
      <input matInput placeholder="Date">
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions style="float: right;margin-bottom: 8px">
  <button mat-stroked-button (click)="onNoClick()" style="outline:0;">No Thanks</button>
  <button mat-stroked-button cdkFocusInitial style="background-color: #3677BD; color: white;margin-left: 5px; outline: 0 ">Submit</button>
</div>
