.control-filter-button {
  float: right;
}

.control-filter-button button {
  margin-left: 10px;
  outline: 0;
}

.control-filter-content {
  padding-top: 10px;
  padding-left: 10px;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

::ng-deep .test {
  background-color: white;
}

.alert.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
