.mat-card {
  padding-bottom: 5px;
  margin-top: 35px;
  float: left;
  font-weight: bold;
  width: 150px;
  height: 350px;
  text-align: center;
  box-shadow: none;
}

.mat-icon {
  font-size: 50px;
  margin-right: 27px;
}
.mat-card .text {
  font-size: 20px;
}

.mat-card .number {
  font-size: 27px;
}
