<mat-grid-list cols="4" rowHeigh="4:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <div style=" text-align: center;">
          <mat-icon style="font-size: 50px; margin-right: 27px;">account_balance</mat-icon><br>
          <span style="font-size: 20px; font-weight: bold;">Publications</span><br>
          <span style="font-size: 27px;font-weight: bold;">{{publicationTotal}}</span><br>
        </div>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>

    <mat-card>
      <mat-card-content>
        <div style=" text-align: center;">
          <mat-icon style="font-size: 50px;margin-right: 27px; ">book</mat-icon><br>
          <span style="font-size: 20px; font-weight: bold;">Publishers</span><br>
          <span style="font-size: 27px;font-weight: bold;">{{publisherTotal}}</span><br>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <div style=" text-align: center;">
          <mat-icon style="font-size: 50px; margin-right: 27px;">list_alt</mat-icon><br>
          <span style="font-size: 20px; font-weight: bold;">Platforms</span><br>
          <span style="font-size: 27px;font-weight: bold;">{{platformTotal}}</span><br>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <div style=" text-align: center;">
          <mat-icon style="font-size: 50px; margin-right: 27px;">calendar_today</mat-icon><br>
          <span style="font-size: 20px; font-weight: bold;">Years</span><br>
          <span style="font-size: 27px;font-weight: bold;">2017</span><br>
          <span style="font-size: 27px;font-weight: bold;">2016</span><br>
          <span style="font-size: 27px;font-weight: bold;">2015</span><br>
          <span style="font-size: 27px;font-weight: bold;">2014</span><br>

        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
