<div class="row">
    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-6" style="margin: 0 auto;
      text-align: left;">
      <div class="text-minify padding padding-vertical-large
        margin-bottom color-swatch color-border" style="background: #CFB87C; color: black;">
        <strong>You are logged out</strong><br><br>
        <span>According to OIT authentication system, You will need to exit all open windows of your current web browser to completely log out of the application. If you do not properly quit your browser, your computer will remain logged into the app!
        </span>

      </div>
    </div>
  </div>