ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

ul li
{
    display: block;
    position: relative;
    float: left;
}

li ul
{
    display: none;
}

ul li a
{
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    /* padding: 5px 5px 5px 15px; */
    /* background: #2C5463; */
    margin-left: 1px;
    white-space: nowrap;
}

ul li a:hover .active
{
    background: #617F8A;
}
li:hover>ul
{
    display: block;
    position: absolute;
}

li:hover li
{
    float: none;
    /* font-size: 11px; */
}

li:hover a
{
    background: #617F8A;
}

li:hover li a:hover
{
    background: #95A9B1;
}

ul ul ul {
    left: 100%;
    top: 0;
  }